<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar bar-header item-input-inset">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		<div class="branding">
			<img class="logo" src="./img/shoneys_logo.png" style="width:40%"/>
			<p>Feedback</p>
		</div>
		<p>Espanol</p>
    </ion-header-bar>

    <ion-content class="content padding" id="feedback">

    	

    </ion-content>

</ion-view>
