<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar bar-header item-input-inset">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		<div class="branding">
			<img class="logo" src="./img/shoneys_logo.png" style="width:40%"/>
			<p>Feedback</p>
		</div>
		<p>Espanol</p>
    </ion-header-bar>

    <ion-content class="content padding" id="feedback">

    	<h4>Please rate your overall experience</h4>
    	<div id="rate">
    	  <a class="icon ion-star"></a>
    	  <a class="icon ion-star"></a>
    	  <a class="icon ion-star"></a>
    	  <a class="icon ion-star"></a>
    	  <a class="icon ion-star"></a>
    	</div>

		<ul class="list">
		  <li class="item item-toggle">
		  	Do you intend to return?
		     <label class="toggle">
			   <input type="checkbox">
			   <div class="track">
			     <div class="handle"></div>
			   </div>
			</label>
		  </li>
		</ul>

		<ul class="list">
		  <li class="item item-icon-left">
		     <i class="icon ion-location">
		     </i>
		     Enter Location
		  </li>
		  <li class="item item-icon-left">
		     <i class="icon ion-camera">
		     </i>
		     Take picture of receipt
		  </li>
		  <li class="item item-icon-left">
		     <i class="icon ion-chatbubble-working">
		     </i>
		     Add comment
		  </li>
		</ul>

		<div class="button-bar">
		  <a class="button">Dine In</a>
		  <a class="button">Carry Out</a>
		  <a class="button">Drive Thru</a>
		</div>

		<a class="button button-block" href="#/app/feedback2">
		  Continue
		</a>

    </ion-content>

</ion-view>
