<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar bar-header item-input-inset ">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    	<div class="branding">
    		<img class="logo" src="./img/shoneys_logo.png" style="width:40%"/>
    		<p>Home</p>
    	</div>
        Next
    </ion-header-bar>

    <ion-content class="content" scroll="false">
        <img src="./img/1_kid.png" style="width:100%;" />
    </ion-content>

    <ion-footer-bar class="bar bar-footer menu-footer">
        <div class="row" style="flex-wrap: wrap;">
            <div class="col col-33">
                <a class="tab-item" href="#/app/offers">
                    <i class="icon ion-pricetag"></i>
                    Offers
                </a>
            </div>
            <div class="col col-33">
                <a class="tab-item" href="#/app/feedback">
                    <i class="icon ion-chatbox"></i>
                    Feedback
                </a>
            </div>
            <div class="col col-33">
                <a class="tab-item">
                    <i class="icon ion-star"></i>
                    Rewards
                </a>
            </div>
            <div class="col col-33">
                <a class="tab-item">
                    <i class="icon ion-location"></i>
                    Location
                </a>
            </div>
            <div class="col col-33">
                <a class="tab-item">
                    <i class="icon ion-spoon"></i>
                    Menu
                </a>
            </div>
            <div class="col col-33">
                <a class="tab-item">
                    <i class="icon ion-person"></i>
                    About Me
                </a>
            </div>
        </div>
    </ion-footer-bar>

</ion-view>
