<ion-view>
  <ion-content class="splash padding" scroll="false">
    <div class="row row-bottom">
      <div class="col">
        <div class="branding uppercase bold">
          <img class="logo" src="./img/shoneys_logo.png" />
          <p>Let's eat!</p>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
          <div class="button-bar login-buttons">
            <a class="button no-border login-facebook">Facebook</a>
            <a class="button no-border">Mail</a>
          </div>
      </div>
      <div class="row responsive-sm row-bottom">
        <a href="#/app/home" class="button button-block no-border login-skip col">Skip</a>
      </div>
    </div>
  </ion-content>
  </ion-view>