<ion-side-menus>
  <ion-side-menu side="left" class="sidebar">
    <div class="sidebar background"></div>
    <ion-list>
      <ion-item nav-clear>
      <img src="./img/shoneys_logo.png" class="item-content sidelogo"/>
      </ion-item>
      <ion-item nav-clear menu-close href="#/app/home" class="item-icon-right transparent">
        <i class="icon ion-home"></i>
        Home
      </ion-item>
      <ion-item nav-clear menu-close href="#/app/offers" class="item-icon-right transparent">
        <i class="icon ion-pricetag"></i>
        Offers
      </ion-item>
      <ion-item nav-clear menu-close href="#/app/feedback"  class="item-icon-right transparent">
        <i class="icon ion-chatbox"></i>
        Feedback
      </ion-item>
      <ion-item nav-clear menu-close href="#/app/about"  class="item-icon-right transparent" >
        <i class="icon ion-star"></i>
        Rewards
      </ion-item>
      <ion-item nav-clear menu-close href="#/app/about"  class="item-icon-right transparent" >
        <i class="icon ion-ios-location"></i>
        Location
      </ion-item>
      <ion-item nav-clear menu-close href="#/app/about"  class="item-icon-right transparent" >
        <i class="icon ion-spoon"></i>
        Menu
      </ion-item>
      <ion-item nav-clear menu-close href="#/app/about"  class="item-icon-right transparent" >
        <i class="icon ion-person"></i>
        About Me
      </ion-item>
    </ion-list>
  </ion-side-menu>

  <ion-side-menu-content>
    <ion-nav-view name="contents"></ion-nav-view>
  </ion-side-menu-content>

</ion-side-menus>