<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar bar-header item-input-inset">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <div class="branding">
          <img class="logo" src="./img/shoneys_logo.png" style="width:40%"/>
          <p>Offers</p>
        </div>
        Next
    </ion-header-bar>

    <ion-content class="content">
      <ion-slide-box on-slide-changed="slideHasChanged($index)" id="offers">
        <ion-slide>
          <div class="box">
            <img src="./img/1_kid.png" style="width:100%;" />
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box">
            <img src="./img/2_heros.jpeg" style="width:100%;" />
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box">
            <img src="./img/3_all_american.jpeg" style="width:100%;" />
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box">
            <img src="./img/4_students.jpeg" style="width:100%;" />
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box">
            <img src="./img/5_reward2.jpeg" style="width:100%;" />
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box">
            <img src="./img/6_reward.jpeg" style="width:100%;" />
          </div>
        </ion-slide>
      </ion-slide-box>
      <a class="button button-dark block">Redeem</a>

    </ion-content>

</ion-view>
