/* Empty. Add your own CSS if you like */
.center {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}


.splash {
	background: url('../img/750_x_1334.png') no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.branding {
	width: 50%;
	height: 50%;
	margin: 0 auto;
	max-width: 200px;
	text-align: center;
}

.logo {
	width: 100%;
}

.sidelogo {
	width: 50%;
	padding: 0;
}

.no-border {
	border: 0;
}

.login-facebook {
	background-color: #ee2e24;
	margin-right: 10px;
	color: #fff;
}

.login-skip {
	background-color: #535158;
	color: #fff;
}

.sidebar {
	background: url('../img/750_x_1334_03.png') no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.sidebar .item {
	border-style: none;
	text-align: right;
}

.sidebar .item-complex .item-content, .sidebar .item{
  background-color: transparent;  
}

.sidebar .icon {
	color: #666;
}

.bar-header {
	height: 70px;
}

.bar-footer.menu-footer div {
	padding: 2px;
}

.bar-footer.menu-footer {
	background-color: #ccc;
	height: 103px;
}

.bar-footer.menu-footer .tab-item {
	margin: 0 auto;
}

.bar-footer.menu-footer .icon {
	font-size: 20px;
    height: 100%;
}

.content {
	margin: 25px 0 0 0;
}

#offers .slider-pager {
	margin: 0 0 0 0;
}

#feedback {
	background-color: #535158;
}

#feedback h4 {
	font-size: 16px;
	width: 270px;
	margin: 0 auto 10px auto;
	color: #fff;
}

#rate {
	font-size: 50px;
	margin: 0 auto 30px auto;
	width: 280px;
	color: #ffff00;
}

#feedback .list {
	margin: 0;
}

#feedback .list li {
	background-color: transparent;
	border: 0;
	color: #fff;
}

